html {
  background-color: #23272b;
}

.app {
  margin-top: 150px;
  text-align: center;
}

.title {
  color: #f0f1f2;
  text-transform: uppercase;
}

.display {
  color: #ff1a66;
  font-size: 80px;
  margin: 30px;
}

.display p {
  margin: 0;
  line-height: 66px;
}

button {
  width: 50px;
}

.hidden {
  display: none;
}