html {
  background-color: #fff;
}

.app {
  margin: 50px auto 0 auto;
  width: 375px; 
  height: 812px;
}

.top-bar {
  height: 50px;
  background-color: grey;
}

.display {
  position: absolute;
}

.bottom-bar {
  height: 50px;
  background-color: grey;
}

.hidden {
  display: none;
}